﻿@model Group_Project.ViewModels.HomeVM
@{
    ViewBag.Title = "Home";
    bool firstImage = true;
    int carousel = 0, categoryCount = 0, newsImage = 0, activityCategoryCount = 0;
}
<link rel="stylesheet" href="~/Style/Style.css" />
<link rel="stylesheet" href="~/Style/DouglasStyles.css" />

<!-- ___________________________________________    My Profile    __________________________________________________ -->
<div class="row justify-content-start" style="margin-bottom: 3%; text-align: left;">
    @*<div class="col-lg-12">*@

    <fieldset class="col-12 contentBox">
        <legend>
            <i id="homeLbl">My Profile</i>
        </legend>
        <div class="row text-center">
            <div class="col-md-6 mb-4 text-left">
                <h4 class="my-5">Weekly Goal: <b>@Model.loggedInUser.DailyGoal</b></h4>
                <h4 class="my-5">Personal Streak: <b>@Model.loggedInUser.Streak</b></h4>
                <h4 class="my-5">
                    Performance Badges:
                    <span>
                        @foreach (var badge in Model.userBadgeList)
                        {
                            <img class="rounded-circle z-depth-2" width="12%" src="@Model.badgeImageList.Find(i => i.ImageID == badge.ImageID).Path" data-toggle="tooltip" data-placement="top" title="@badge.Description!">
                        }

                    </span>
                </h4>
            </div>
            <div class="col-md-6 mb-4 text-center">
                <img class="rounded z-depth-2" width="30%" src="@ViewBag.profileImage">
                <h3>@Model.loggedInUser.Username</h3>
                <i class="fa fa-star fa-2x" id="points" style="color: darkorange;display: block;" aria-hidden="true">@Model.points</i>
                <img class="rounded-circle z-depth-2" width="10%" src="@Model.leagueBadge.Path">
            </div>
        </div>
    </fieldset>
    @*</div>*@
</div>

<!-- ___________________________    My Performance    ______________________________________________ -->
<div class="row justify-content-start" id="performanceLbl" style="margin-bottom: 3%; text-align: left;">
    @*<div class="col-lg-12">*@
    <fieldset class="col-12 contentBox">
        <legend>
            <i id="homeLbl">My Performance</i>
        </legend>
        <br>
        <div>
            <div>
                <h2 style="display: inline;"><b>My Daily Points</b></h2>
                <button class="btn" style="width: 120px;color: black;float: right;" id="ViewActivities">View Activities</button>
            </div>
            <hr style="border: 1px solid black;">
            <div class="text-center" style="font-size: large;color: grey;">
                <p>Congratulations, you have earned <b id="reportDailyPoints">110</b> Activity Points today!</p>
                <p>Your total score for the week is <b id="weekPoints">150</b></p>
            </div>
            <div style="position: relative;text-align: center;color: black;">
                <img src="Images/points-background.png" width="138" style="display: block;margin-left: auto; margin-right: auto;">
                <div style="position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: large;"><b id="weekPoints3">150</b></div>
            </div>
            <br>
            <div style="text-align: center">
                <a onclick="showActivityReport()" class="btn" target="_blank" style="color: white;font-size: medium;width: 200px;background-color: black;">
                    @* <i class="fa fa-share-alt fa-2x" style="color: white;padding: 0px;"></i> *@
                    View Activity Report
                </a>
            </div>
        </div>
        <br>
        <br>
        <div>
            <div>
                <h2 style="display: inline;"><b>My Weekly Points</b></h2>
            </div>
            <hr style="border: 1px solid black;">
            <div class="progress" style="background-color: #d55555;width: 90%;margin-left: auto; margin-right: auto;height: 30px;margin-bottom: 0;">
                <div class="progress-bar progress-bar-warning text-dark" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" id="weeklyPointsgraph">
                    <b style="font-size: large;" id="weekPoints2">550</b>
                </div>
            </div>
            <div style="float: right;color: darkorange;">
                <i class="fa fa-star fa-2x" style="color: darkorange;display: block;" aria-hidden="true"><b style="font-size: x-large;" id="pb">1400</b></i>
                Personal Best
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div>
            <div>
                <h2 style="display: inline;"><b id="leagueName">Diamond League</b> <img class="rounded-circle z-depth-2" width="5%" src="@Model.leagueBadge.Path"></h2>
                <button class="btn btn-dark text-white" id="viewSats" data-toggle="modal" data-target="#modalAddNew" style="width: 180px;float: right;">View My Statistics Report</button>
            </div>
            <hr style="border: 1px solid black;">
            <div>
                <div class="tblScroll scrollbar" style="border: 2px solid #ddd;">
                    <table class="table table-bordered table-striped mb-0">
                        <tbody id="reportGraphTable">
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>
            <div style="position: relative;text-align: center;color: black;">
                <img src="~/Images/points-background.png" width="138" style="display: block;margin-left: auto; margin-right: auto;">
                <div style="position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: large;"><b id="currentPos">#4</b></div>
            </div>
            <br>
        </div>
    </fieldset>
    <br>
    <br>
    @*</div>*@
</div>


<!-- ___________________________    News    ________________________________________________________ -->
<div class="row justify-content-start" style="margin-bottom: 3%; text-align: left;">

    <fieldset class="col-12 contentBox">
        <legend>
            <i id="newsLbl">Eco-Impact News</i>
        </legend>

        <!-- Images for perspective -->
        <h2 class="h2" style="width: auto;text-align: left;padding: 4px;margin-bottom: 0;"><b>Images for Perspective</b></h2>
        <hr style="border: 1px solid black;">
        <div class="col-lg-12" style="padding: 2%; margin-bottom: 4%;">
            <div class="row justify-content-center">
                <div class="perspectiveCarouselDiv">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" style="width: 100%;">
                        <ol class="carousel-indicators">
                            @foreach (var img in Model.carouselList)
                            {
                                if (carousel == 0)
                                {
                                    <li data-target="#carouselExampleIndicators" data-slide-to="@carousel" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carouselExampleIndicators" data-slide-to="@carousel"></li>
                                }

                                carousel++;

                            }

                        </ol>
                        <div class="carousel-inner" style="max-height: 500px; ">
                            @foreach (var img in Model.carouselList)
                            {
                                if (firstImage)
                                {
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="@img.Path" alt="First slide">
                                    </div>
                                    firstImage = false;
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="@img.Path" alt="First slide">
                                    </div>
                                }

                            }
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--  tips to reduce carbon emmisions accordion -->
        <h2 class="h2" style="width: auto;text-align: left;padding: 4px;margin-bottom: 0;"><b>Eco-Impact Tips to Reduce Carbon Emmisions</b></h2>
        <hr style="border: 1px solid black;">
        <div class="col-12 justify-content-start" style="padding-top: 2%; padding-bottom: 2%;">
            <div class="accordion" id="accordion">

                @foreach (var category in Model.categoryList)
                {
                    int count = 1;

                    <div class="card">
                        <div class="card-header" id="heading1" type="button" data-toggle="collapse" data-target="#collapse_@categoryCount" aria-expanded="false" aria-controls="collapseOne">
                            <!-- <h2 class="mb-0"> -->
                            <a class="collapsed">
                                @category.Description
                            </a>
                            <i class="glyphicon glyphicon-menu-down"></i>
                            <!-- </h2> -->
                        </div>

                        <div id="collapse_@categoryCount" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                            <div class="card-body" style="padding: 0;">
                                <table id="tipsTable" style="width: 100%;">

                                    @foreach (var tip in Model.tipList.Where(t => t.CategoryID == category.CategoryID))
                                    {
                                        <tr>
                                            <td style="width: 20px;">@count</td>
                                            <td>@tip.Description</td>
                                        </tr>
                                        count++;
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                    categoryCount++;
                    firstImage = true;
                }

            </div>
        </div>

        <!-- Articles (carousel)-->
        <h2 class="h2" style="width: auto;text-align: left;padding: 4px;margin-bottom: 0;"><b>Eco-Impact Articles</b></h2>
        <hr style="border: 1px solid black;">
        <div class="col-lg-12" style="padding: 2%;">
            <div class="row justify-content-center">
                <div class="perspectiveCarouselDiv">

                    <div id="carouselTwo" class="carousel slide carousel-fade" data-ride="carousel" style="width: 100%;">
                        <ol class="carousel-indicators">
                            @foreach (var img in Model.newsList)
                            {
                                if (newsImage == 0)
                                {
                                    <li data-target="#carouselTwo" data-slide-to="@newsImage" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carouselTwo" data-slide-to="@newsImage"></li>
                                }

                                newsImage++;

                            }
                        </ol>
                        <div class="carousel-inner" style="max-height: 500px; ">

                            @foreach (var news in Model.newsList)
                            {
                                if (firstImage)
                                {
                                    <div class="carousel-item active">
                                        <a href="@news.Hyperlink">
                                            <img class="d-block w-100" src="@Model.newsImage.Find(i => i.ImageID == news.ImageID).Path" alt="First slide">
                                        </a>
                                    </div>

                                    firstImage = false;
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <a href="@news.Hyperlink">
                                            <img class="d-block w-100" src="@Model.newsImage.Find(i => i.ImageID == news.ImageID).Path" alt="First slide">
                                        </a>
                                    </div>
                                }

                            }

                        </div>
                        <a class="carousel-control-prev" href="#carouselTwo" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselTwo" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
</div>
<br />

<!-- ___________________________    Community    __________________________________________________ -->
<div class="row justify-content-start" style="margin-bottom: 3%; text-align: left;">


    <fieldset class="col-lg-12 contentBox">
        <legend>
            <i id="communityLbl">Community</i>
        </legend>
        <div class="col-12 ">
            <div class="ml-3">
                <input id="searchInput" class="form-control form-control-sm mr-3 w-40" type="text" placeholder="Search Community" aria-label="Search">
                <span id="search" class="fa fa-search" type="submit" aria-hidden="true"></span>

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>
                                <a data-toggle="collapse" class="text-dark" style="font-size: x-large" href="#ida" onclick="document.getElementById('arrow').classList.toggle('rotate');">
                                    Global Users
                                    <span class="glyphicon glyphicon-menu-up arrow" id="arrow" style="float: right;border: 2px solid black; border-radius: 50%;padding: 4px;"></span>
                                </a>
                            </h2>
                        </div>
                    </div>
                    <div id="ida" class="panel-collapse collapse community">
                        <div class="tblScroll scrollbar" style="border: 2px solid #ddd;">
                            <table class="table table-bordered table-striped mb-0">
                                <tbody id="communityBody">

                                    @foreach (var member in Model.communityMembers)
                                    {
                                        if (!member.Following)
                                        {
                                            <tr class="text-center">
                                                <td width="60px"><img class="rounded z-depth-2" width="40px" src="@member.ProfilePic"></td>
                                                <td><h4>@member.Name</h4></td>
                                                <td><img src="@member.CountryFlag" width="40px" style="border: 0; padding: 0;"></td>
                                                <td><i class="fa fa-star fa-2x" style="color: darkorange;display: block;" aria-hidden="true">@member.Points</i></td>
                                                <td width="60px"><img class="rounded-circle z-depth-2" width="40px" src="@member.LeagueIcon"></td>
                                                <td><button data-id="@member.ID" class="btn btn-success text-white w-50 m-0 follow">Follow</button></td>

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>

                <!--           $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$      -->

                <div class="panel-group community">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>
                                <a data-toggle="collapse" class="text-dark" style="font-size: x-large" href="#idb" onclick="document.getElementById('arrow1').classList.toggle('rotate');">
                                    Eco-Impact Following
                                    <span class="glyphicon glyphicon-menu-up arrow" id="arrow1" style="float: right;border: 2px solid black; border-radius: 50%;padding: 4px;"></span>
                                </a>
                            </h2>
                        </div>
                    </div>

                    <div id="idb" class="panel-collapse collapse">
                        <div class="tblScroll scrollbar" style="border: 2px solid #ddd;">
                            <table class="table table-bordered table-striped mb-0">
                                <tbody id="friendsBody">
                                    @foreach (var member in Model.communityMembers)
                                    {
                                        if (member.Following)
                                        {
                                            <tr class="text-center">
                                                <td width="60px"><img class="rounded z-depth-2" width="40px" src="@member.ProfilePic"></td>
                                                <td><h4>@member.Name</h4></td>
                                                <td><img src="@member.CountryFlag" width="40px" style="border: 0; padding: 0;"></td>
                                                <td><i class="fa fa-star fa-2x" style="color: darkorange;display: block;" aria-hidden="true">@member.Points</i></td>
                                                <td width="60px"><img class="rounded-circle z-depth-2" width="40px" src="@member.LeagueIcon"></td>

                                                <td><button data-id="@member.ID" class="btn btn-secondary text-white w-50 m-0 follow">Unfollow</button></td>
                                               
                                            </tr>
                                        }
                                    }
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </fieldset>
</div>

<!-- ___________________________ Activities completed  ____________________________________________ -->
<div class="row justify-content-start" style="margin-bottom: 3%; text-align: left;">

    <fieldset class="col-12 justify-content-center contentBox">
        <legend>
            <i id="activitiesLbl">Daily Activities</i>
        </legend>

        <div class="accordion" id="accordion">


            @foreach (var category in Model.categoryList)
            {
                int count = 1;

                <div class="card">
                    <div class="card-header" id="heading1" type="button" data-toggle="collapse" data-target="#collapse1_@activityCategoryCount" aria-expanded="false" aria-controls="collapseOne">
                        <!-- <h2 class="mb-0"> -->
                        <a class="collapsed">
                            @category.Description
                        </a>
                        <i class="glyphicon glyphicon-menu-down"></i>
                        <!-- </h2> -->
                    </div>

                    <div id="collapse1_@activityCategoryCount" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                        <div class="card-body" style="padding: 0;">
                            <table id="activities_@category.Description" class="activityTable" style="width: 100%;">

                                @foreach (var activity in Model.activityList.Where(t => t.CategoryID == category.CategoryID))
                                {
                                    <tr data-activityPoints="@activity.Points" data-activityID="@activity.ActivityID" class="activityRow">
                                        <td style="width: 10px;"><input type="checkbox"></td>
                                        <td style="width: 10px;">@count</td>
                                        <td>@activity.Description</td>
                                    </tr>
                                    count++;
                                }

                            </table>
                        </div>
                    </div>
                </div>


                activityCategoryCount++;
            }

        </div>
    </fieldset>
</div>

<!-- ___________________________    My Performance Modal Popup Stats    ___________________________ -->
<div class="col-12 contentBox" id="PerformanceModal">
    <br>
    <i class="glyphicon glyphicon-remove" id="closePerformance" style="float: right;"></i>
    <div id="performanceContent">
    <div class="text-center" id="performanceLbl">
        <img class="rounded z-depth-2" width="12%" src="@ViewBag.profileImage">
        <h4 style="margin-bottom: 0;"><b>USER STATISTICS REPORT</b></h4>
        <h5 style="margin-bottom: 0;">League Standing</h5>
        <h5 style="margin-bottom: 0;" id="dateTime"></h5>
        <hr style="border: gray 1px solid">
    </div>

    <div>
        <div>
            <h2 style="display: inline;"><b id="LeagueNameForReport">Diamond League</b> <img class="rounded-circle z-depth-2" width="5%" src="@Model.leagueBadge.Path"></h2>
            <small class="form-text text-muted mb-3" style="margin: 0;border: 0;"><b id="position">* Currently Position 4</b></small>
        </div>
        <div>
            <div class="tblScroll scrollbar" style="border: 2px solid #ddd;max-height: max-content;">
                <table class="table table-bordered table-striped mb-0">
                    <tbody id="leagueChartToBePrinted">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <br>
    </div>
    <div class="text-center">
        <h2 style="display: inline;"><b>My Statistics</b></h2>
        <hr style="border: gray 1px solid">
        <div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Avg Daily Score</th>
                        <td id="AvgDailyScore">25</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest Daily Score</th>
                        <td id="HighestDaily">420</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest Week Score</th>
                        <td id="HighestWeekScore">1444</td>
                    </tr>
                    <tr>
                        <th scope="row">Lowest Week Score</th>
                        <td id="LowestWeekScore">400</td>
                    </tr>
                    <tr>
                        <th scope="row">Most Frequent Category</th>
                        <td id="MostProductiveCategory">Electricity</td>
                    </tr>
                    <tr>
                        <th scope="row">Avg Daily Activaties</th>
                        <td id="AvgDailyCount">7</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div class="text-center">
        <h2 style="display: inline;"><b>My Performance History</b></h2>
        <hr style="border: gray 1px solid">
        <div>
            <div id="chartContainer" style="height: 370px; width: 90%;margin-left: auto; margin-right: auto;"></div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <div>
        <button id="performanceModalBack" class="btn btn-dark" style="color: white;width: 80px;float: left;">Back</button>
        <button id="printPerformanceReport" style="display: inline;color: white;width: 120px;float: right;" class="btn btn-primary">Print Report</button>
    </div>
    <br>
</div>



<!-- ___________________________   Report Modal  __________________________________________________ -->

<div class="col-12 contentBox" id="trendReport">
    <i class="glyphicon glyphicon-remove" id="closeActivityReport" style="float: right;"></i>
    <div class="pdfContent">
        <img id="reportLogo" src="~/Images/logo.png" class="center" alt="logo" style="width: 150px; height: 150px; margin-top: 30px; margin-bottom: 15px;" />
        <h2 id="trendReportLbl">ACTIVITY TREND REPORT</h2>

        @*<div class="pdfContent">
            <table>
                <thead>
                    <tr>
                        <td>Hi</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>aaaaaa</td>
                    </tr>
                </tbody>
            </table>
            <img src="~/Images/logo.png" />
        </div>*@

        <div class="row">
            <div class="col-12" id="activityReportTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h5><b>Number of Recorded Activities per Category</b></h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-50">Electricity</td>
                            <td class="w-25">@Model.userActivityCount[0]</td>
                        </tr>
                        <tr>
                            <td class="w-50">Recycling</td>
                            <td class="w-25">@Model.userActivityCount[1]</td>
                        </tr>
                        <tr>
                            <td class="w-50">Travel</td>
                            <td class="w-25">@Model.userActivityCount[2]</td>
                        </tr>
                        <tr>
                            <td class="w-50">Water</td>
                            <td class="w-25">@Model.userActivityCount[3]</td>
                        </tr>
                        <tr>
                            <td class="w-50">Food and Nutrition</td>
                            <td class="w-25">@Model.userActivityCount[4]</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>

        @*</div>*@

        @*<div class="container">*@
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><h5><b>Most Popular Eco-Impact Activities</b></h5><hr style="width: 100%; border-color: black;" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Electricity</b></td>
                        </tr>
                        <tr>
                            <td>- @Model.mostPopularActivities[0]</td>
                        </tr>
                        <tr>
                            <td><b>Recycling</b></td>
                        </tr>
                        <tr>
                            <td>- @Model.mostPopularActivities[1]</td>
                        </tr>
                        <tr>
                            <td><b>Travel</b></td>
                        </tr>
                        <tr>
                            <td>- @Model.mostPopularActivities[2]</td>
                        </tr>
                        <tr>
                            <td><b>Water</b></td>
                        </tr>
                        <tr>
                            <td>- @Model.mostPopularActivities[3]</td>
                        </tr>
                        <tr>
                            <td><b>Food and Nutrition</b></td>
                        </tr>
                        <tr>
                            <td>- @Model.mostPopularActivities[4]</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>

    @*<div class="container">*@
    <div class="row">
        <div class="col-3">
            <button type="button" id="activityBack" class="btn btn-primary btn-md">Back</button>
        </div>
        <div class="col-3 offset-6">
            <a type="button" id="activityPrint" class="btn btn-secondary btn-md">Print Report</a>
        </div>
    </div>
    @*</div>*@
    <br />


</div>

<!-- ___________________________    Account Settings     __________________________________________ -->
<div class="row justify-content-start contentBox" style="margin-bottom: 3%; padding: 2%">
    <div class="col-12 justify-content-center">
        <div style="text-align: start">
            <h2 id="settingsLbl" style="display: inline;"><b>Account Settings</b></h2>
            <a class="btn btn-dark right" style="color: white;float: right;" onclick="window.location='@Url.Action("UpdateUserSurvey", "Account")'">Take User Survey</a>
        </div>
        <hr style="border: 1px solid black;">
        <div class="text-center">
            <img class="rounded z-depth-2" width="12%" src="@ViewBag.profileImage">
        </div>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-3 text-left">
                <p>Username:</p>
                <p>Password:</p>
                <p>Email Address:</p>
                <p>Gender:</p>
                <p>Country:</p>
                <p>Weekly Goal:</p>
            </div>
            <div class="col-3 text-right">
                <p><b>@Model.loggedInUser.Username</b></p>
                <p><b>************</b></p>
                <p><b>@Model.loggedInUser.Email</b></p>
                <p><b>@Model.genderList.Find(g => g.GenderID == Model.loggedInUser.GenderID).Description</b></p>
                <p><b>@Model.countryList.Find(c => c.CountryID == Model.loggedInUser.CountryID).Name</b></p>
                <p><b>@Model.loggedInUser.DailyGoal</b></p>
            </div>
        </div>
        <br>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-3 text-left">
                <button class="btn" style="width: 120px;color: black;" id="delete">Delete Account</button>
            </div>
            <div class="col-3 text-right">
                <button class="btn" style="width: 120px;color: black;" onclick="window.location='@Url.Action("Edit", "Account")'">Edit Account</button>
            </div>
        </div>
    </div>
</div>

<!-- ___________________________   Delete Account Modal  __________________________________________ -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-top: 3%; margin-bottom: 3%;" id="exampleModalLabel">Are You Sure You Want To Delete Your Account?</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: min-content;">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            @*<div class="modal-body">
                    Are You Sure You Want To Delete Your Account?
                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    window.onload = function () {

        //var chart = new CanvasJS.Chart("chartContainer", {
        //    animationEnabled: true,
        //    theme: "light2", // "light1", "light2", "dark1", "dark2"
        //    axisY: {
        //        title: "SCORE"
        //    },
        //    axisX: {
        //        title: "WEEK"
        //    },
        //    data: [{
        //        type: "column",
        //        showInLegend: false,
        //        legendMarkerColor: "grey",
        //        dataPoints: [
        //            { y: 645, label: "1" },
        //            { y: 555, label: "2" },
        //            { y: 782, label: "3" },
        //            { y: 671, label: "4" },
        //            { y: 300, label: "5" },
        //            { y: 450, label: "6" },
        //            { y: 880, label: "7" },
        //            { y: 345, label: "8" },
        //            { y: 299, label: "9" },
        //            { y: 120, label: "10" },
        //            { y: 566, label: "11" },
        //            { y: 600, label: "12" }
        //        ]
        //    }]
        //});
        //chart.render();

    }
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="~/Scripts/News.js"></script>