﻿@model Group_Project.ViewModels.RegisterVm
@{
    ViewBag.Title = "CreateAccount";
    Layout = null;
    int count = 1;
}

<link rel="stylesheet" href="./Style/Style.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

@*@using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post))
{*@
    <div class="container containerDiv col-lg-5 col-md-7 col-sm-8">
        <h3 class="h3">Login Credentials</h3>
        <div class="col">
            <img src="~/Images/logo.png" alt="Logo" class="avatar" style="width: 20%;">
            @*<form method="post" id="imageForm" enctype="multipart/form-data" action="Account/addImage">
                <img id="avatar" src="~/Images/@ViewBag.path" onclick="$('#imgInp').click()" alt="your profile picture" class="w3-margin-right" style="width:20%; border-radius: 10px;" /><br /><br />
                <button class="btn btn-success w-50" type="button" onclick="$('#imgInp').click()">Upload picture</button>
                <input type='file' id="imgInp" name="image" style="display: none;" />
            </form>*@

        </div>
        <div class="col" style="text-align: left;">
            <div class="col">
                <label for="name" class="col-form-label">Name</label><br/>
                <input type="text" name="name" id="name" class="form-control w-100 p-3"/>
            </div>
            <div class="col">
                <label for="email" class="col-form-label">Email</label><br />
                <input type="email" name="email" id="email" class="form-control w-100 p-3" />
            </div>
            <div class="col">
                <label for="pw" class="col-form-label">Password</label><br />
                <input type="password" name="pw" id="pw" class="form-control w-75 p-3"/> <i id="eyeIcon" class="display-1 fa fa-eye-slash text-secondary mt-3"></i>
            </div>
            <div class="col">
                <label for="confirmPW" class="col-form-label">Confirm Password</label><br />
                <input type="password" name="confirmPW" id="confirmPW" class="form-control w-75 p-3"" />
            </div>
        </div>
    </div>

    <div class="container containerDiv col-lg-5 col-md-7 col-sm-8" style="margin-top: 2%;">
        <h3 class="h3">Account Security</h3>
        <div class="col">
            <!-- Group of default radios - option 2 -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="publicOrPrivate" value="public" checked>
                <label class="custom-control-label" for="defaultGroupExample2">Public</label>
            </div>

            <!-- Group of default radios - option 3 -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultGroupExample3" value="private" name="publicOrPrivate">
                <label class="custom-control-label" for="defaultGroupExample3">Private</label>
            </div>
        </div>
        <div class="col" style="text-align: left;">
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" style="cursor: pointer;">
                @foreach(var question in Model.Question)
                { 
                <tr>
                    <td><input type="radio" value="@question.SecurityID" name="selected_question" /></td>
                    <td>@count</td>
                    <td>@question.Question</td>
                </tr>
                    count++;
                }
            </table>
            <div class="col" style="margin-top: 2%;">
                <label for="answer" class="lbl">Answer:</label><br />
                <input type="text" class="form-control" name="answer" id="answer"/>
            </div>
        </div>
    </div>

    <div class="container containerDiv col-lg-5 col-md-7 col-sm-8" style="margin-top: 2%;">
        <h3 class="h3">Account Settings</h3>
        <div class="col" style="text-align: center;">

            <form>
                <img id="avatar" src="../Images/Players/avatar.png" onclick="$('#image').click()" alt="your profile picture" class="w3-margin-right" style="width:20%; border-radius: 10px;" /><br /><br />
                <button class="btn btn-success w-50" type="button" onclick="$('#image').click()">Upload Picture</button>
                <input type='file' id="image" name="image" style="display: none;" />
            </form>

            <div class="col">
                <label for="country" class="float-left">Country</label>
                <select class="form-control" name="country" id="country">
                    @foreach (var country in Model.Country)
                    {
                        <option value="@country.CountryID">@country.Name</option>
                    }
                </select>
            </div>

            <br />
            <div class="col">
                <label for="gender" class="float-left">Gender</label>
                <select class="form-control" name="gender" id="gender">
                    @foreach (var country in Model.Gender)
                    {
                        <option value="@country.GenderID">@country.Description</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="goal" class="float-left mt-3">Weekly Goal<i class="fa fa-info-circle ml-2 text-secondary" id="info"></i></label>
                <input type="number" min="0" name="goal" id="goal" class="form-control" />
            </div>
            <button class="btn btn-info w-25 mt-4" id="survey">Take Survey</button>
        </div>
        <br /><br />
    </div>
    <div class="container  col-lg-4 col-md-6 col-sm-8" style="margin-top: 2%; border: none;">
        <button class="btn btn-primary" id="submitForm" style="width: 25%;" type="submit">Register</button>
    </div>
@*}*@
    <br /><br /><br /><br /><br />

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
 <script src="~/Scripts/register.js"></script>
