﻿@model Group_Project.ViewModels.RegisterVm
@{
    ViewBag.Title = "EditAccount";
    Layout = null;
    int count = 1;
}

<link rel="stylesheet" href="~/Style/Style.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{*@
    <!-- Div for log in creedentials -->
<div class="containerDiv container col-lg-5 col-md-7 col-sm-8">
    <h3 class="h3">Login Credentials</h3>
    <img src="~/Images/logo.png" alt="Avatar" class="avatar" style="width: 20%;">


    @*<form method="post" id="imageForm" enctype="multipart/form-data" action="Account/addImage">
            <img id="avatar" src="~/Images/@ViewBag.Image" onclick="$('#imgInp').click()" alt="your profile picture" class="w3-margin-right" style="width:20%; border-radius: 10px;" /><br /><br />
            <button class="btn btn-success w-50" type="button" onclick="$('#imgInp').click()">Upload picture</button>
            <input type='file' id="imgInp" name="image" style="display: none;" />
        </form>*@


    <div class="col" style="text-align: center;">
        <br />
        <br />
        <button type="button" class="btn btn-info w-25" data-toggle="modal" data-target="#password_modal">Edit password</button>
    </div>
    <div class="col text-left">
        <label for="name" class="col-form-label">Name</label><br />
        <input type="text" name="name" value="@ViewBag.user.Name" id="name" class="form-control w-100 p-3" />
    </div>
</div>

    <!-- Account security (security question) -->
    <div class="containerDiv container col-lg-5 col-md-7 col-sm-8" style="margin-top: 2%;">
        <h3 class="h3">Account Security</h3>
        <div class="col">
            <!-- Group of default radios - option 2 -->
            <div class="custom-control custom-radio">
                @if (ViewBag.user.PrivateOrPublic == "public")
                {
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="publicOrPrivate" value="public" checked>
                }
                else
                {
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="publicOrPrivate" value="public" >
                }
                <label class="custom-control-label" for="defaultGroupExample2">Public</label>
            </div>

            <!-- Group of default radios - option 3 -->
            <div class="custom-control custom-radio">
                @if (ViewBag.user.PrivateOrPublic != "public")
                {
                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" value="private" name="publicOrPrivate" checked>
                }
                else
                {
                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" value="private" name="publicOrPrivate" >
                }
                    <label class="custom-control-label" for="defaultGroupExample3">Private</label>
                </div>
        </div>

        <!-- Table with security questions -->
        <div class="col">
            <table id="sequrity_question_table2" style="cursor: pointer;" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                @foreach (var question in Model.Question)
                {
                    <tr>
                        <td>
                            @if (ViewBag.user.Selected_question == question.SecurityID)
                            {
                                <input type="radio" value="@question.SecurityID" name="selected_question" checked/>
                            }
                            else
                            {
                                <input type="radio" value="@question.SecurityID" name="selected_question" />
                            }
                            
                        </td>
                        <td>@count</td>
                        <td>@question.Question</td>
                    </tr>
                    count++;
                }
            </table>
            <div class="col" style="margin-top: 2%;">
                <label class="lbl">Security Question Answer:</label><br /> <input type="text" id="answer" class="inpt" />
            </div>
        </div>
    </div>

    <!-- Account settings -->
    <div class="containerDiv container col-lg-5 col-md-7 col-sm-8" style="margin-top: 2%;">
        <h3 class="h3">Account Settings</h3>
        <div class="col" style="text-align: center;">
            <!-- Upload picture -->
            <div class="col">
                @*<form method="post" id="imageForm" enctype="multipart/form-data" action="Account/addImage">*@
                <form>
                    <img id="avatar" src="@ViewBag.Image" onclick="$('#image').click()" alt="your profile picture" class="w3-margin-right" style="width:20%; border-radius: 10px;" /><br /><br />
                    <button class="btn btn-success w-50" type="button" onclick="$('#image').click()">Upload Picture</button>
                    <input type='file' id="image" name="image" style="display: none;" />
                </form>
                
                @*</form>*@
            </div>
            <br /><br />
            <!-- Select country -->
            <div class="col">
                <label for="country" class="float-left">Country</label>
                <select class="form-control" name="country" id="country">
                    @foreach (var country in Model.Country)
                    {
                        if (ViewBag.user.Country == country.CountryID)
                        {
                            <option value="@country.CountryID" selected>@country.Name</option>
                        }
                        else
                        {
                            <option value="@country.CountryID">@country.Name</option>
                        }
                        
                    }
                </select>
            </div>

            <br />
            <div class="col">
                <label for="gender" class="float-left">Gender</label>
                <select class="form-control" name="gender" id="gender">
                    @foreach (var gender in Model.Gender)
                    {
                        if (ViewBag.user.Gender == gender.GenderID)
                        {
                            <option value="@gender.GenderID" selected>@gender.Description</option>
                        }
                        else
                        {
                            <option value="@gender.GenderID">@gender.Description</option>
                        }
                        
                    }
                </select>
            </div>
            <div class="col mt-1">
                <label for="goal" class="float-left mt-3">Weekly Goal<i class="fa fa-info-circle ml-2 text-secondary" id="info"></i></label>
                <input type="number" min="0" name="goal" id="goal" value="@ViewBag.user.Goal" class="form-control" />
            </div>
        </div>
        <br /><br />
    </div>
    <div class="containerDiv container col-lg-4 col-md-6 col-sm-8" style="margin-top: 2%; border: none;">
        <button class="btn btn-secondary" style="width: 25%; float: left;" onclick="window.location='@Url.Action("Index", "Home")'">Cancel</button>
        <button class="btn btn-primary" style="width: 25%; float: right;" id="updateBtn" type="submit">Update</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="password_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel" style="width: 40%;">Edit Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="float: right;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <label class="lbl">New Password</label><br /> <input id="pw" type="password" class="inpt w-100" />
                    </div>
                    <div class="col">
                        <label class="lbl">Confirm New Password</label><br /> <input id="confirmPW" type="password" class="inpt w-100" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
@*}*@
<br /><br /><br /><br /><br />

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
 <script src="~/Scripts/register.js"></script>