﻿@model List<Group_Project.EF.Survey>
@{
    ViewBag.Title = "Survey";
    Layout = null;
}

<link rel="stylesheet" href="~/Style/Style.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="containerDiv container col-lg-6 col-md-8 col-sm-8" id="surveyMessageContainer">
    <div class="row">
        <div class="col"><img src="~/Img/Logo.png" alt="Avatar" class="avatar" style="margin-right: 2%; width: 70%;"></div>
        <div class="col-8" style="text-align: left;">
            <p>
                Eco-impact is a competitive platform designed to help you and your community to reduce your collective impact on the environment. Before you continue, was have a few questions to ask...
            </p>
            <button class="btn btn-primary" onclick="takeSurvey()">Take survey</button>
            <br /><br />
            <div style="text-align: right;">
                <a style="cursor: pointer;" onclick='window.location = "@Url.Action("SkipSurvey", "Account")";'>
                    Skip
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.update)
{
    using (Html.BeginForm("Update", "Account", FormMethod.Post))
    {
        <div class="containerDiv container col-lg-6 col-md-8 col-sm-8" id="surveyContainer">
            <h2 class="h3">Select all statements that apply to you and your household</h2>
            <br /><br />
            <div class="row">
                <div class="col"><img src="~/Img/logo.png" alt="Avatar" class="avatar" style="margin-right: 2%; width: 70%;"></div>
                <div class="col-8" style="text-align: left;">
                    <input type="hidden" id="points" name="points" value="0" />
                    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" style="cursor: pointer;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="surveyItem" value="@item.Points" /></td>
                                <td>@item.Question</td>
                            </tr>
                        }
                    </table>
                    <br /><br />
                    <button class="btn btn-primary w-50" id="submitSurvey">Submit survey</button>
                </div>
            </div>
        </div>
    }
}
else
{
    using (Html.BeginForm("SubmitSurvey", "Account", FormMethod.Post))
    {
        <div class="containerDiv container col-lg-6 col-md-8 col-sm-8" id="surveyContainer">
            <h2 class="h3">Select all statements that apply to you and your household</h2>
            <br /><br />
            <div class="row">
                <div class="col"><img src="~/Img/logo.png" alt="Avatar" class="avatar" style="margin-right: 2%; width: 70%;"></div>
                <div class="col-8" style="text-align: left;">
                    <input type="hidden" id="points" name="points" value="0" />
                    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" style="cursor: pointer;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="surveyItem" value="@item.Points" /></td>
                                <td>@item.Question</td>
                            </tr>
                        }
                    </table>
                    <br /><br />
                    <button class="btn btn-primary w-50" id="submitSurvey">Submit survey</button>
                </div>
            </div>
        </div>
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="~/Scripts/register.js"></script>