﻿@model Group_Project.EF.UserMaster
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet" href="~/Style/Style.css" />

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <form>
        <div class="containerDiv container col-lg-4 col-md-6 col-sm-8">
            <div class="col">
                <h2 class="h2">Welcome to Eco-Impact!</h2>
            </div>
            <div class="imgcontainer">
                <img src="~/Icons/logo.png" alt="Logo" class="avatar" style="width: 20%;">
            </div>
            <div class="col text-left pl-5">
                <input type="text" placeholder="username" id="loginUser" name="username" class="ml-5 w-75" required>
            </div>
            <div class="col text-left pl-5">
                <input type="password" placeholder="password" name="password" id="pwInput" class="w-75 ml-5" required>
                <div class="pl-2" style="display: inline-block; position: absolute;">
                    <i id="eyeIcon" class="display-1 fa fa-eye-slash text-secondary mt-3"></i>
                </div>
            </div>
            <div class="col">
                <i onclick="window.location='@Url.Action("ForgotPassword", "Login")'">Forgot password?</i>
            </div>
            <div class="col text-left pl-5">
                <input type="submit" id="loginBtn" value="Login" class="ml-5 w-75" />
            </div>
            <div class="col text-left pl-5">
                <input type="button" value="Create Account" class="ml-5 w-75" onclick="window.location='@Url.Action("Index", "Account")'" />
            </div>
        </div>
    </form>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="~/Scripts/LoginScript.js"></script>

@if (ViewBag.invalid == "username")
{
    <script>
        $.confirm({
            columnClass: 'col-6 text-left',
            title: 'Invalid Username',
            content: 'The Username You Entered Could Not Be Found, Please Try Again',
            type: 'red',
            typeAnimated: true,
            buttons:
            {
                tryAgain:
                {
                    text: 'Try again',
                    btnClass: 'btn-red',
                    action: function () {
                        $("#loginUser").val("");
                        $("#pwInput").val("");
                    }
                }
            }
        });
    </script>
}
else if (ViewBag.invalid == "password")
{
    <script>
        $.confirm({
            columnClass: 'col-6 text-left',
            title: 'Invalid Username or Password',
            content: 'The Username Or Password You Entered Is Incorrect, Please Try Again',
            type: 'red',
            typeAnimated: true,
            buttons:
            {
                tryAgain:
                {
                    text: 'Try again',
                    btnClass: 'btn-red',
                    action: function () {
                        $("#loginUser").val("");
                        $("#pwInput").val("");
                    }
                }
            }
        });
    </script>
}