﻿
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Style/Style.css" />
<link rel="stylesheet" href="~/Style/DouglasStyles.css" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


@using (Html.BeginForm("UpdatePassword", "Login", FormMethod.Post))
{
    <div class="containerDiv container col-lg-5 col-md-7 col-sm-8">
        <div class="row " style="text-align: left;">
            <img src="~/Images/logo.png" width="130" style="float: left;margin-right: 40px;">
            <h3 style="font-weight: bold;margin-top: 50px;">Reset your Password</h3>
            <br>
            <br>
            <br>
            <form style="border: none;">
                <div class="form-group" style="width: 60%;margin-left: 20%;">
                    <label for="otpEnter">Enter OTP</label><br />
                    <input type="number" value="0" min="0" name="userOTP" class="form-control" id="otpEnter">
                    <small class="form-text text-muted">* One Time Password was sent to your email address</small>
                </div>
                <div class="form-group mt-3" style="width: 60%;margin-left: 20%;">
                    <label for="newPass">New Password</label><br />
                    <input type="password" name="userPassword" class="form-control" id="newPass"><i id="eyeIcon" class="display-1 fa fa-eye-slash mt-2 ml-3 text-secondary"></i><br /><br />
                </div>
                <div class="form-group" style="width: 60%;margin-left: 20%; margin-top: -4%;">
                    <label for="confirmNewPass">Confirm Password</label><br />
                    <input type="password" class="form-control" id="confirmNewPass">
                </div>
                <input type="submit" id="submitForm" class="btn" style="width: 30%; margin-left: 65%;color: black;" value="Reset" />
            </form>
        </div>
        <br>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="~/Scripts/resetPasswordScript.js"></script>

@if (ViewBag.invalid == "invalid")
{
    <script>
        $.confirm({
            columnClass: 'col-6 text-left',
            title: 'Invalid OTP',
            content: 'You Entered An Invalid OTP, Please Try Again',
            type: 'red',
            typeAnimated: true,
            buttons:
            {
                tryAgain:
                {
                    text: 'Try again',
                    btnClass: 'btn-red',
                    action: function () {
                        $("#otpEnter").val(0);
                        $("#pw").val("");
                        $("#confirmPW").val("");
                    }
                }
            }
        });
    </script>

}
else if (ViewBag.invalid == "valid")
{
    <script>
        $.confirm({
            columnClass: 'col-6 text-left',
            title: 'Password Updated',
            content: 'Your Password Has Successfully Been Updated',
            type: 'green',
            typeAnimated: true,
            buttons:
            {
                OK:
                {
                    text: 'Ok',
                    btnClass: 'btn-green',
                    action: function () {
                        window.location.href = "/Login/Index";
                    }
                }
            }
        });
    </script>

}