﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="./Style/menu_style.css" />
    <link rel="stylesheet" href="~/Style/Style.css" />

</head>
<body>
    <div id="menu_burger" class="menu_item">
        <span style=" cursor: pointer; font-size: 230%;" class="menu_item">&#9776;</span>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-8" id="menu_panel" style="min-width:200px">
        <div class="col-sm-12" id="menu_content">
            <i class="glyphicon glyphicon-remove" id="closeMenu"></i>
            <div class="row justify-content-center">
                <img id="avatar" src="~/Images/logo.png" alt="your profile picture" style="width:40%; border-radius: 10px;" /><br /><br />
            </div>
            <div class="row justify-content-center">
                <label>Eco-Imact</label>
            </div>
            <br /><hr /><br />
            <a id="home" class="fa fa-home i"> <p style="display: inline;">Home</p></a>
            @*<a id="profile" class="glyphicon glyphicon-user  i"> <p style="display: inline;">My Profile</p>*@</a>
            <a id="performance" class="fa fa-bar-chart i"> <p style="display: inline;">Performance</p></a>
            <a id="news" class="fa fa-bell  i"> <p style="display: inline;">News</p></a>
            <a id="community" class="fa fa-users i"> <p style="display: inline;">Community</p></a>
            <a id="activities" class="fa fa-check-circle i"> <p style="display: inline;">Activities</p></a>
            <a id="settings" class="fa fa-cog i"> <p style="display: inline;">Account Settings</p></a>
            <hr />
            <a id="logout" class="fa fa-sign-out i"> <p style="display: inline;">Logout</p></a>
        </div>
    </div>
    <div id="overlay"></div>
    <div id="overlay2"></div>

    <div class="container body-content" style="border: none; margin-top:0;">
        <div class="container" style="border: none; margin-top:0;">
            <div id="main_content" style="border: none; margin-top:0;">
                <div class="col-10" style="margin-top:0;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="./Scripts/menu_script.js"></script>

</body>
</html>
