﻿@model Group_Project.ViewModels.AdminVM
@{
    ViewBag.Title = "Admin";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Style/menu_style.css" />
<link rel="stylesheet" href="~/Style/Style.css" />

<style>
    button {
        float: right;
        width: 25%;
    }
</style>

<!-- Div with main content -->
<div class="row justify-content-center" style="margin-bottom: 3%;">

    <!-- Main Content inside this div -->
    <div class="col-10">
        <!--News-->
        <fieldset id="newsLbl" class="text-left" style="background-color: #fbfbfb;border: 1px solid #c4c4c4; padding:1%; padding-top:0">
            <legend><i>Eco-Impact News</i></legend>
            <div id="PlaceHolderHere"></div>
            <div>
                <table class="text-left offset-1" style="width:85%">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Article Source</th>
                            <th colspan="2">Options</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: left;">

                        @if (Model.newsList == null)
                        {
                            <tr>you currently have no news items</tr>
                        }
                        else
                        {
                            foreach (var newItem in Model.newsList)
                            {
                                <tr id="@newItem.NewsID">
                                    <td><img width="60" src="@Url.Content(newItem.Image.Path)" alt="@newItem.NewsID" style="width:100px;height:55px" /></td>
                                    <td style="width:25%; font-size:smaller; text-overflow:clip;">@newItem.Desctiption</td>
                                    <td style="width:30%; font-size:smaller; text-overflow: ellipsis;"><a href="@newItem.Hyperlink" target="_blank"><u>@newItem.Hyperlink </u></a></td>
                                    <td><i class="fa fa-pencil fa-2x" data-toggle="modal" data-target="#EditNews" id="editNews" aria-hidden="true" onclick="edtNews(@newItem.NewsID)" style="width: 30px;height: 30px; position: relative;float: right; margin: 5px;"></i></td>
                                    <td><i class="fa fa-trash fa-2x" aria-hidden="true" data-toggle="modal" data-target="#DeleteGeneric" onclick="deleteItem(@newItem.NewsID, 'news')" style="width: 30px;height: 30px; position: relative;float: right; margin: 5px;"> </i> </td> @* ---- onclick="deleteItem(@newItem.NewsID)" data-url="@Url.Action("DeleteNews", "Admin",  new { id = newItem.NewsID }))"*@
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <button type="button" id="btnShowModal" data-toggle="modal" data-target="#NewsAdd" data-url="@Url.Action("AddNews", "Admin")" style=" float:right; border:none; padding: 6px; width: 20%; background-color: #A3E2FF; color: black; float:right;">Add News Item</button>
        </fieldset>
        <br><br />

        <!--User survey-->
        <fieldset id="surveyLbl" class="text-left" style="background-color: #fbfbfb;border: 1px solid #c4c4c4; padding:1%; padding-top:0">
            <legend><i>User Survey</i></legend>
            <div id="PlaceHolderHere"></div>
            <div>
                <table class="text-left offset-1" style="width:85%">
                    <tbody>
                        @foreach (var s in Model.surveyList)
                        {
                            <tr id="@s.SurveyID">
                                <td><b>@s.Question</b></td>
                                <td></td>
                                <td><b>@s.Points points</b></td>
                                <td><i class="fa fa-pencil fa-2x" aria-hidden="true" onclick="editItem(@s.SurveyID, 'survey')" style="width:30px;height:30px"></i></td>
                                <td><i class="fa fa-trash fa-2x" aria-hidden="true" data-toggle="modal" data-target="#DeleteGeneric" onclick="deleteItem(@s.SurveyID, 'survey')" style="width: 30px;height: 30px; position: relative;float: right; margin: 5px;"></i></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <button type="button" class="float-right pull-right" id="btnShowModal" width="22" height="8" data-toggle="modal" data-url="@Url.Action("AddSurvey", "Admin")" data-target="#AddSurvey" style=" float:right; border:none; padding: 6px; width: 20%; background-color: #A3E2FF; color: black; float:right;">Add Question</button>
        </fieldset>
        <br /><br />

        <!-- Tips table -->
        <fieldset id="surveyLbl" class="text-left" style="background-color: #fbfbfb;border: 1px solid #c4c4c4; padding:1%; padding-top:0">
            <legend><i>Eco-Impact Tips</i></legend>
            <div id="PlaceHolderHere"></div>
            <button type="button" class="float-right pull-right" id="btnShowModal" width="22" height="8" data-toggle="modal" data-url="@Url.Action("AddCategory", "Admin")" data-target="#AddCategory" style=" float:right; border:none; padding: 6px; width: 20%; background-color: #A3E2FF; color: black; float:right;">Add Category</button>
            <br /><br /><br />
            <!-- accordion-->
            
                        <div class="accordion text-left" id="accordionTips" role="tablist" aria-multiselectable="true">
                            @foreach (var c in Model.categoryList)
                            {
                                <div class="card" id="categoryList">
                                    <div class="card-header" id="heading_@c.CategoryID" role="tab">
                                        <h4 class="mb-0">
                                            <span id="@c.CategoryID">
                                                <a data-toggle="collapse" data-parent="#accordionTips" href="#collapse_@c.CategoryID" aria-expanded="true" aria-controls="collapse_@c.CategoryID" style="color:black;">
                                                    <span class="glyphicon glyphicon-menu-up"></span>
                                                    @c.Description
                                                </a>
                                                <i class="fa fa-plus-square fa-2x" id="addTip" aria-hidden="true" data-toggle="modal" data-target="#AddTip" data-catID="@c.CategoryID" style="width: 30px;height: 30px; position: relative;float: right; margin: 5px;"></i>
                                                <i class="fa fa-pencil fa-2x" id="editCategory" aria-hidden="true" id="editCat" data-toggle="modal" data-target="#EditCategory" onclick="edtCat(@c.CategoryID)" style="width: 30px; height: 30px; position: relative;float: right;margin: 5px;"></i>
                                                <i class="fa fa-trash fa-2x" aria-hidden="true" data-toggle="modal" data-target="#DeleteGeneric" onclick="deleteItem(@c.CategoryID, 'category')" style="width:30px;height:30px; position: relative;float: right;margin: 5px; "></i>
                                            </span>
                                        </h4>
                                    </div>

                                    <div id="collapse_@c.CategoryID" class="collapse" role="tabpanel" aria-labelledby="heading_@c.CategoryID" data-parent="#accordionTips">
                                        <div class="card-body px-3">
                                            <table width="100%">
                                                @foreach (var t in c.Tips)
                                                {
                                                    <tr id="editTip">
                                                        <td>
                                                            <h4>
                                                                @t.Description
                                                            </h4>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-pencil fa-2x" aria-hidden="true" data-toggle="modal" data-target="#EditTip" onclick="edtTip(@t.TipID, @c.CategoryID)" id="editTip" data-catID="@c.CategoryID" data-id="@t.TipID" style="width: 30px;height: 30px;float: right;margin: 5px;"></i>
                                                            <i class="fa fa-trash fa-2x" aria-hidden="true" data-toggle="modal" data-target="#DeleteGeneric" onclick="deleteItem(@t.TipID, 'tip')" style="width:30px;height:30px;float: right;margin: 5px;"></i>
                                                        </td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
        </fieldset>
        <br />
        <br />

        <!--Activities Table-->
        <div class="col-12" style="opacity:0.9; width:70% ; width: 100%; padding:0">
            <fieldset id="activitiesLbl" class="text-left" style="background-color: #fbfbfb;border: 1px solid #c4c4c4; padding:1%; padding-top:0">
                <legend><i>Daily Activities</i></legend>
                <div id="PlaceHolderHere"></div>
                <button type="button" class="float-right pull-right" id="btnShowModal" width="22" height="8" data-toggle="modal" data-url="@Url.Action("AddCategory", "Admin")" data-target="#AddCategory" style=" float:right; border:none; padding: 6px; width: 20%; background-color: #A3E2FF; color: black; float:right;">Add Category</button>
                <br /><br /><br />
                <!-- accordion-->
               
                            <div class="accordion text-left" id="accordionActivities" role="tablist" aria-multiselectable="true">
                                @foreach (var c in Model.categoryList)
                                {
                                    <div class="card" id="categoryList">
                                        <div class="card-header" id="heading-@c.Description" role="tab">
                                            <h4 class="mb-0">
                                                <span>
                                                    <a data-toggle="collapse" data-parent="#accordionActivities" href="#collapse-@c.CategoryID" aria-expanded="true" aria-controls="collapse-@c.CategoryID" style="color:black;">
                                                        <span class="glyphicon glyphicon-menu-up"></span>
                                                        @c.Description
                                                    </a>
                                                    <i class="fa fa-plus-square fa-2x" id="addActivity" aria-hidden="true" data-toggle="modal" data-target="#AddActivity" data-catID="@c.CategoryID" style="width:30px;height:30px; position: relative;float: right;margin: 5px; "></i>
                                                    <i class="fa fa-pencil fa-2x" aria-hidden="true" id="editCat" data-toggle="modal" data-target="#EditCategory" onclick="edtCat(@c.CategoryID)" style="width:30px;height:30px; position: relative;float: right; margin: 5px;"></i>
                                                    <i class="fa fa-trash fa-2x" aria-hidden="true" data-toggle="modal" data-target="#DeleteGeneric" onclick="deleteItem(@c.CategoryID, 'category')" style="width:30px;height:30px; position: relative;float: right;margin: 5px;"></i>
                                                </span>
                                            </h4>
                                        </div>

                                        <div id="collapse-@c.CategoryID" class="collapse" aria-labelledby="heading-@c.CategoryID" data-parent="#accordionActivities" role="tabpanel">
                                            <div class="card-body px-3">
                                                <table width="100%">
                                                    @foreach (var ac in c.Activities)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <h4>
                                                                    @ac.Description
                                                                </h4>
                                                            </td>
                                                            <td>
                                                                <i class="fa fa-pencil fa-2x" id="editAct" aria-hidden="true" data-toggle="modal" data-target="#EditActivity" onclick="edtAct(@ac.ActivityID, @c.CategoryID)" data-catID="@c.CategoryID" data-actID="@ac.ActivityID" style="width: 30px;height: 30px;float: right;margin: 5px;"></i>
                                                                <i class="fa fa-trash fa-2x" aria-hidden="true" data-toggle="modal" data-target="#DeleteGeneric" onclick="deleteItem(@ac.ActivityID, 'activity')" style="width: 30px;height: 30px;float: right;margin: 5px;"></i>
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                </div>
                
            </fieldset>
        </div>
        <br />
        <br />

        <!-- Images-->
        <div class="col-12" style="opacity:0.9; padding: 0; width: 70%;">
            <fieldset id="carouselLbl" class="text-left" style="background-color: #fbfbfb;border: 1px solid #c4c4c4; padding:1%; padding-top:0">
                <legend style="width:auto;"><i>Carousel Images</i></legend>
                <table class="text-left offset-1" style="width:85%">
                    <tbody>
                        @foreach (var img in Model.carouselList)
                        {
                            <tr id="@img.ImageID">
                                <td style="text-align:left; font-size: small; ">
                                    @img.ImageID
                                </td>
                                <td><img class="image" src="@Url.Content(img.Path)" style="width: 100px;height: 50px;"></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <i class="fa fa-pencil fa-2x" alt="EditCarousel" data-toggle="modal" data-target="#EditCarousel" onclick="editCarousel(@img.ImageID)" data-carID="@img.ImageID" style="width: 30px;height: 30px;  float: right;margin: 5px;"></i>
                                    <i class="fa fa-trash fa-2x" aria-hidden="true" data-toggle="modal" data-target="#DeleteGeneric" onclick="deleteItem(@img.ImageID, 'carousel')" alt="Delete" style="width: 30px;height: 30px;  float: right;margin: 5px;"></i>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <button type="button" class="float-right pull-right" id="btnShowModal" data-toggle="modal" width="22" height="8" data-target="#AddCarousel" data-url="@Url.Action("AddCarousel", "Admin")" style=" float:right; border:none; padding: 6px; width: 20%; background-color: #A3E2FF; color: black; float:right;">Add Image</button>
            </fieldset>
        </div>
        <br />
        <br />

        <!-- Settings -->

        <div class="col-12" style="opacity:0.9; padding: 0;">
            <fieldset class="text-left" id="settingsLbl" style="background-color: #fbfbfb;border: 1px solid #c4c4c4">
                <legend><i>Settings</i></legend>

                <table class="table" style="margin-left: 15px; margin-top: 15px; padding: 5px 10px; width:97%;">
                    <thead>
                        <tr>
                            <th style="font-size: small; color: dimgrey;">
                                <i>Authorisations</i>
                            </th>
                        </tr>
                    </thead>
                </table>
                <table class="table" style="margin-left: 15px; margin-top: 15px; padding: 5px 10px; width:97%;">
                    <thead>
                        <tr>
                            <td style="font-weight:bold; width: auto;">
                                Current Admin Subsidiaries
                            </td>
                            <td></td>
                            <td style="width: 60%;">
                                <button type="button" class="float-right pull-right" id="btnShowModal" data-toggle="modal" width="22" height="8" data-target="#AddAdmin" data-url="@Url.Action("AddAdmin", "Admin")" style=" float:right; border:none; padding: 6px; width: 20%; background-color: #A3E2FF; color: black; float:right;">Add Admin</button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.adminList)
                        {
                            <tr>
                                <td>
                                    <i>@a.Username</i>
                                </td>
                                <td>
                                    <i>@a.Email</i>
                                </td>
                                <td>
                                    <i class="fa fa-trash fa-2x" aria-hidden="true" data-toggle="modal" data-target="#DeleteGeneric" onclick="deleteItem(@a.UserID, 'admin')" alt="Delete" style="width: 30px;height: 30px;" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </fieldset>
        </div>
    </div>
</div>


<!-- ___________________________________________________     Modals   ___________________________________________________________________ -->
<!--Add News item modal-->
@using (Html.BeginForm("AddNews", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal" id="NewsAdd" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Eco-Impact News Item</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <input type="file" name="postedNewsFile" accept="images/*" required />
                                    <asp:FileUpload ID="FileUpload1" runat="server" />
                                </div>
                                <div class="form-group">
                                    <label for="newsDesField"><i>Description</i></label>
                                    @Html.TextBox("Description", null, new { @id = "newID", @class = "form-control", @placeholder = "Article Description" })
                                </div>
                                <div class="form-group">
                                    <label for="sourceField"><i>Article Source</i></label>
                                    @Html.TextBox("Hyperlink", null, new { @id = "newID", @class = "form-control", @placeholder = "Article Source" })

                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Add to News</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Edit News modal-->
@using (Html.BeginForm("EditNews", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal" id="EditNews" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Eco-Impact News Item</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <input hidden type="number" id="nColId" value="" />
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <input type="file" name="postedNewsFile" accept="images/*" required />
                                    <asp:FileUpload ID="FileUpload1" runat="server" />
                                </div>
                                <div style="display:none;">
                                    @Html.Hidden("newsID", null, new { @id = "nColId", @type = "number", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="newsDesField"><i>Description</i></label>
                                    @Html.TextBox("Description", null, new { @id = "newID", @class = "form-control", @placeholder = "Article Description" })
                                </div>
                                <div class="form-group">
                                    <label for="sourceField"><i>Article Source</i></label>
                                    @Html.TextBox("Hyperlink", null, new { @id = "newID", @class = "form-control", @placeholder = "Article Source" })

                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="confirmEdit" class="btn btn-dark">Edit News</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Add Survey item modal-->
@using (Html.BeginForm("AddSurvey", "Admin", FormMethod.Post))
{
    <div class="modal" id="AddSurvey" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Eco-Impact Survey Item</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <input hidden disabled type="number" id="surveyID" />
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <label for="newsDesField"><i>Question</i></label>
                                    @Html.TextBox("Question", null, new { @id = "newID", @class = "form-control", @placeholder = "Statement" })
                                </div>
                                <div class="form-group">
                                    <label for="sourceField"><i>Points</i></label>
                                    @Html.TextBox("Points", null, new { @id = "newID", @class = "form-control", @placeholder = "Points" })

                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Add to Survey</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Add Category Modal: For both Tips and Activities-->
@using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post))
{
    <div class="modal" id="AddCategory" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Category </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <input hidden disabled type="number" id="catID" />
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <label for="categoryDesField"><i>Description</i></label>
                                    @Html.TextBox("Description", null, new { @id = "newID", @class = "form-control", @placeholder = "Category description" })
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Add Category</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Edit Category modal: Both Tips and Activities-->
@using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post))
{
    <div class="modal" id="EditCategory" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Eco-Impact Category</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <input hidden type="number" id="catID" name="catID" value="" />
                                    <label for="newsDesField"><i>Description</i></label>
                                    @Html.TextBox("Description", null, new { @id = "newID", @class = "form-control", @placeholder = "Category Name" })
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="confirmEdit" class="btn btn-dark">Edit Category</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Add Tip Modal-->
@using (Html.BeginForm("AddTip", "Admin", FormMethod.Post))
{
    <div class="modal" id="AddTip" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Tip </h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <input hidden disabled type="number" />
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <label for="categoryDesField"><i>Description</i></label>
                                    @Html.TextBox("Description", null, new { @id = "newID", @class = "form-control", @placeholder = "Tip description" })
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Add Tip</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Edit Tip modal-->
@using (Html.BeginForm("EditTip", "Admin", FormMethod.Post))
{
    <div class="modal" id="EditTip" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Eco-Impact Tip</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <input hidden type="number" id="tColId" value="" />
                                    <input hidden type="number" id="TipID" name="TipID" value="" />
                                    <label for="newsDesField"><i>Description</i></label>
                                    @Html.TextBox("Description", null, new { @id = "newDescrip", @class = "form-control", @placeholder = "Tip Description" })
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Edit Tip</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--Edit Activity modal-->
@using (Html.BeginForm("EditActivity", "Admin", FormMethod.Post))
{
    <div class="modal" id="EditActivity" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Eco-Impact Activity</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <input hidden type="number" id="aColId" value="" />
                                    <input hidden type="number" id="actID" name="actID" value="" />
                                    <label for="newsDesField"><i>Description</i></label>
                                    @Html.TextBox("Description", null, new { @id = "newDescrip", @class = "form-control", @placeholder = "Activity Description" })
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Edit Activity</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Add Category Modal: For both Tips and Activities-->
@using (Html.BeginForm("AddActivity", "Admin", FormMethod.Post))
{
    <div class="modal" id="AddActivity" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Activity</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <input hidden disabled type="number" />
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <label for="activityDesField"><i>Description</i></label>
                                    @Html.TextBox("Description", null, new { @id = "newID", @class = "form-control", @placeholder = "Activity description" })
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Add Activity</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--Add Carousel-->
@using (Html.BeginForm("AddCarousel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal" id="AddCarousel" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Carousel Image</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <input hidden disabled type="number" id="imageID" />
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <input type="file" name="postedNewsFile" accept="images/*" required />
                                    <asp:FileUpload ID="FileUpload1" runat="server" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Add Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Edit Carousel-->
@using (Html.BeginForm("EditCarousel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal" id="EditCarousel" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Carousel Image</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <input hidden type="number" id="carID" name="carID" value="" />
                                    <input type="file" name="postedNewsFile" accept="images/*" required />
                                    <asp:FileUpload ID="FileUpload1" runat="server" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Edit Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Add Admin modal-->
@using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post))
{
    <div class="modal" id="AddAdmin" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Administrator </h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                        </button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <label for="usernameField"><i>Username</i></label>
                                    @Html.TextBox("Username", null, new { @id = "newID", @class = "form-control", @placeholder = "username" })
                                </div>
                                <div class="form-group">
                                    <label for="emailField"><i>Email Address</i></label>
                                    @Html.TextBox("Email", null, new { @id = "newID", @class = "form-control", @placeholder = "email" })

                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Add Admin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Generic Edit Modal-->
<div class="modal" id="EditAll" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Eco-Impact Item </h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span><img src="~/Images/BackArrow.png" style="width:30px; height:20px; float:right" /></span>
                    </button>
                    <hr />
                </div>
                <div class="modal-body" id="testBody" style="text-align: left;">

                </div>
            </div>
        </div>
    </div>
</div>
<!--Generic Delete Modal-->
<div class="modal" id="DeleteGeneric" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document" style="text-align: left;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Delete Item</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this item?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="confirmDelete" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


<script>


    function edtNews(nId) {
        $('#EditNews #nColId').val(nId);
    }

    $(document).ready(function () {
        $("#addTip").click(function () {
            var catID = $(this).data("catID");
            $("#AddTip input[type=number]").val(catID);
        });

        $("#addActivity").click(function () {
            var catID = $(this).data("catID");
            console.log(catID);
            $("#AddActivity input[type=number]").val(catID);
        });

        //$("#editNews").click(function () {
        //    var newsID = $(this).data("newsID");
        //    $("#EditNews #newsID").val(newsID);
        //});

        /*$(document).on("click", "#editTip", function () {
            tipID = $(this).data('id');
        });*/



        //$("#editCarousel").click(function () {
        //    var imageID = $(this).data("imageID");
        //    $("#EditCarousel input[type=number]").val(imageID);
        //});

    });

    function edtTip(tId, cId) {
        $('#EditTip #tColId').val(cId);
        $('#EditTip #TipID').val(tId);
    }

    function edtAct(aId, cId) {
        $('#EditActivity #aColId').val(cId);
        $('#EditActivity #actID').val(aId);
    }

    function edtCat(cId) {
        $('#EditCategory #catID').val(cId);
        console.log(cId);
    }
    function editCarousel(carID) {
        $('#EditCarousel #carID').val(carID);
    }


    function deleteItem (val, type)
    {
        if (type == "news") {
            $("#confirmDelete").attr('onclick', 'confDeleteNews(' + val + ')');
        }
        else if (type == "survey")
        {
            $("#confirmDelete").attr('onclick', 'confDeleteSurvey(' + val + ')');
        }
        else if (type == "carousel")
        {
            $("#confirmDelete").attr('onclick', 'confDeleteCarousel(' + val + ')');
        }
        else if (type == "admin")
        {
            $("#confirmDelete").attr('onclick', 'confDeleteAdmin(' + val + ')');
        }
        else if (type == "category") {
            $("#confirmDelete").attr('onclick', 'confDeleteCategory(' + val + ')');
        }
        else if (type == "tip") {
            $("#confirmDelete").attr('onclick', 'confDeleteTip(' + val + ')');
        }
        else if (type == "activity") {
            $("#confirmDelete").attr('onclick', 'confDeleteAct(' + val + ')');
        }
    }


    function confDeleteNews (val) {
        var id = val;
        console.log(id);
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteNews", "Admin")',
            data: { id: id },
            success: function (data) {

                $("#" + val).remove();
            },
                error: function (request, status, error) {
                    alert("fail")
                }
        });
    }

    function confDeleteSurvey (val) {
        var id = val;
        console.log(id);
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteSurvey", "Admin")',
            data: { id: id },
            success: function (data) {

                $("#" + val).remove();
            },
                error: function (request, status, error) {
                    alert("fail")
                }
        });
    }

    function confDeleteCarousel (val) {
        var id = val;
        console.log(id);
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteCarousel", "Admin")',
            data: { id: id },
            success: function (data) {

                $("#" + val).remove();
            },
                error: function (request, status, error) {
                    alert("fail")
                }
        });
    }

    function confDeleteCategory (val) {
        var id = val;
        console.log(id);
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteCategory", "Admin")',
            data: { id: id },
            success: function (data) {
                $("#categoryList").remove();
                //$("#" + val).remove();
            },
                error: function (request, status, error) {
                    alert("fail")
                }
        });
    }

    function confDeleteTip(val) {
        var id = val;
        console.log(id);
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteTip", "Admin")',
            data: { id: id },
            success: function (data) {

                $("#" + val).remove();
            },
                error: function (request, status, error) {
                    alert("fail")
                }
        });
    }

    function confDeleteAct(val) {
        var id = val;
        console.log(id);
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteActivity", "Admin")',
            data: { id: id },
            success: function (data) {

                $("#" + val).remove();
            },
                error: function (request, status, error) {
                    alert("fail")
                }
        });
    }
    function confDeleteAdmin (val) {
        var id = val;
        console.log(id);
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteAdmin", "Admin")',
            data: { id: id },
            success: function (data) {

                $("#" + val).remove();
            },
                error: function (request, status, error) {
                    alert("fail")
                }
        });
    }
    //This edit works for EditSurvey
    function editItem (id, type) {
        const url = '@Url.Action("Edit", "Admin")?surveyID=' + id + '&type=' + type;

        $.ajax({
            url: url,
            success: (data) => {
                $('#testBody').html(data);
                $('#EditAll').modal('show');
            }
        })
    }

</script>

